{% extends "Dashboard/base.html" %}


{% load static %}

{% block main %}


    <style>

        .tick {
            stroke: #fce512;

        }

        .domain {
            stroke: #fce512;
        }

        svg {
            position: relative;
            z-index: 1;
        }

        svg text {
            fill: #fce512;

        }

        svg .values text {
            pointer-events: none;
            stroke-width: 0.5px;
        }

        .label{
            font-size: 65%;
        }

        .groups:hover {
            cursor: pointer;
            font-weight: bold;
        }

    </style>




    {#    <script src="{% static 'Dashboard/js/population.js' %}" type="text/javascript"></script>#}
    <script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
    <script src="{% static 'Dashboard/js/soccer.js' %}" type="text/javascript"></script>
{% endblock %}


